body {
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #34495e;
}
.book.font-family-1 {
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}
.markdown-section hr {
    height: 2px;
}
.markdown-section h2 {
    font-size: 1.5em;
}
.markdown-section h3 {
    font-size: 1.17em;
}
.markdown-section code {
    /*color: #e96900;*/
    padding: 3px 5px;
    margin: 0 2px;
    border-radius: 2px;
    white-space: nowrap;
}
.markdown-section b, .markdown-section strong {
    font-weight: 600;
    color: #2c3e50;
}
